#caseStudyContent {
    position:absolute;
    top:824px;
    display: block;
    width: 100%;
    background-color: #fefefe;
    height: fit-content;

}

#caseStudyContent h2 {
    color:rgb(148, 0, 0);
    padding-top:2rem;
}

#caseStudyContent p {
    color: #222;
    margin: 1rem;
    font-weight: 400;
}

#caseStudyContent ul {
    list-style-type: square;
    display: block;
    
}

#caseStudyContent li {
    float: none;
}

#caseStudyContent h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 6rem;
}

.sectionHeader {
    width: 100%;
    position: relative;
    height: fit-content;
    background-color:#333336;
    color: #ededed;
    font-weight: 100;
    padding-bottom: 5rem;
}

.svg100 img{
    width: 100%;
    max-width: 2000px;
}

.svg90 {
    width:80vw;
    margin:0 auto;
}
.svg90 img{
    width: 100%;
    max-width:1800px ;
}

#sect01 {
    width:100%;
    position: relative;
    padding-bottom: 5rem;
}


#sect03 {
    width: 100%;
    position: relative;
    height: fit-content;
    background-color:#fefefe;
    color: #222;
    font-weight: 400;
    padding-bottom: 5rem;
    
}

#sect03 h2{
    padding:5rem 0 2rem 0;
    margin:0;
}

#sect04 {
    width:100%;
    background-color: #eee;
    padding: 2rem 0 5rem 0;
    margin-bottom: -2.5rem;
}



.imgRight{
    width:50%;
    float: right;
    margin: .2rem 1rem 1rem 1rem;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.3);

}

.imgRight:hover {
    width:100%;
    float: none;
    margin:0;
}

#sect03 .imgFull {
    width:100%
}

.textContainer {
    max-width: 850px;
    margin:0 auto;
}

#sect05 {
    position: relative;
    height: fit-content;
}

.heroImage {
    width:100%;
    max-width: 2000px;
    margin:0 auto;
}
.heroImage img{
    width:100%;
}

.hideMobile {
    display:none;
}

.hideDesktop {
    display: flex;
}

#otherProjects {
    width:100%;
    height: fit-content;
    background-color: #2b2b2d;
    text-align: center;
    padding-bottom: 3rem;
}

#otherProjects h2 {
    color:#ededed;
}

.flexBox {
    display: inline-flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: space-around; 
    align-content: center;
    height: 20vw;
}

.portfolioLink{
    margin:0 1rem;
    position: relative;
    display: inline-block;
    
}

.portfolioLink img{
    width: 17vw;
    height: 17vw;
    display: block;
}

.portfolioLink:hover img {
    opacity: .3
}

.portfolioLink h3 {
    padding: 2rem;
    position: absolute;
    text-align: center;
    width: 13.5vw;
    top: 42%;
    font-size: 2vw;
    transform: translate(0, -50%);

}




@media (max-width: 840px) {
    h2 {
        margin-left:1rem !important;
        padding: 3rem 0 0 0 !important;
    }

    h4 {
        margin-left:1rem !important;
    }

    #caseStudyContent {
        top:697px;
    }

    #caseStudyContent ul{
        padding-left: 40px;
    }

    #caseStudyContent img{
        overflow-y: scroll;
    }

    .svg90 {
        overflow-y: scroll;
    }

    .svg90 img:hover{
        width: 300%;
        max-width:1800px ;
    }

    .text50 {
        width:auto !important;
    }

    .sectionHeader h1{
        padding:0 2rem;
    }

    .hideMobile {
        display:flex;
    }

    .hideDesktop {
        display: none;
    }

    #otherProjects h2{
        margin-left:0 !important;
    }

    .portfolioLink img{
        opacity: 0.5;
    }

    .portfolioLink h3{
        width:18.5vw;
        top:50%;
        transform: translate(-.9vw, -50%);
    }
    
}

@media (max-width:640px) {
    
    

    #csMenu {
        top:108vw;  
    }

    #caseStudyContent {
        top:213vw;
    }

    #caseStudyContent ul{
        padding-right: 1rem;
    }

    .imgRight {
        margin:1rem;
    }

    #sect01 {
        padding-bottom: 3rem;
    }

    #sect04 {
        padding: 1rem 0 3rem;
    }
    #otherProjects h2 {
        padding:1rem 0 3rem !important;
    }

    .portfolioLink {
        margin:0 2px !important;
    }

    .portfolioLink img{
        width:31vw;
        height: 31vw;
     }

    .portfolioLink h3{
        font-size: 4vw;
        width:34.5vw;
        left:48%;
        transform: translate(-50%, -50%);
    } 



}